<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been invited to join ateam.zone!</h1>
    <p>
      Please, follow the link below and create an account with this email to accept your invitations.<br>
    </p>
    <a href="https://www.ateam.zone/#/signup">Sign Up</a>
    <p>We look forward to your account creation!</p>
  </body>
</html>