.user-avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: #FBF8F4;
  border: 1px solid #FBF8F4;
}

.avatar-big{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #FBF8F4;
  border: 1px solid #FBF8F4;
}

.avatar-medium {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  background-color: #FBF8F4;
  border: 1px solid #FBF8F4;
  margin-right: 1rem;
}

.team-avatars {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
}

.header-avatar-list {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}