.comments {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.comment-item {
  display: flex;
  margin-bottom: 3rem;
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  strong {
    font-weight: 700;
  }
}