/*******************************************
  HEADER
********************************************/
.header {
  display: flex;
  justify-content: space-around;
  background: #FBF8F4;
}

.header-items {
  display: flex;
  justify-content: space-between;
  width: 97.5%;
}

.team-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 20%;
  font-family: 'Martel Sans', sans-serif;
}

.team-nav li {
  color: black;
  font-size: 14px;
  margin: 1px solid #FBF8F4;
  padding: 0 .5rem;
  background: #FBF8F4;
  color: #283c4b;
  font-size: 14px;
  border-radius: 7px 7px 7px 7px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
  transition: color 0.25s;
}

.team-nav li:hover {
  color: #197944;
  background: #FFFFFF;
}

.header-items nav {
  display: flex;
  position: relative;
}

.logo {
  font-family: 'Righteous', sans-serif;
  font-size: 30px;
  color: #197944;
}

.authNav {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
}

.guest-button span {
  background: #197944;
  color: #fbf8f4;
  cursor: pointer;
  transition: background 0.5s;
  transition: color 0.5s;
}

.guest-button span:hover {
  color: #197944;
  background: #FFFFFF;
}

.authNav span {
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
}

.authButton {
  margin: 1px solid #FBF8F4;
  padding: 0 .5rem;
  background: #FBF8F4;
  color: #197944;
  border-radius: 7px 7px 7px 7px;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
  transition: color 0.25s;
}

.authButton:hover {
  color: #197944;
  background: #FFFFFF;
}


.hidden-dd {
  display: block;
}
