.bodySection {
  border-top: 1px solid #ddd6cd;
  background: #F5EFE6;
  min-height: 80rem;
  padding-bottom: 1.5rem;
}

.CTAbutton {
  font-family: 'Righteous', cursive;
  color: white;
  background: #3cb371;
  border-bottom-color: rgba(0,0,0,0.15);
  border-radius: 0.4rem;
}
