.team-index-container {
  top: -1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.team-index-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.panel-header {
  font-size: 19px;
  line-height: 23px;
  font-weight: 400;
  color: #aa9c84;
  margin-bottom: 0.3125em;
}

.panel-header:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  z-index: -1;
}

.team-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  height: 70vh
}

.team-card {
  height: 9rem;
  width: 18rem;
  background: #ffffff;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.1);
}

.team-card-contents {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-button-card-false {
  height: 9rem;
  width: 18rem;
  background: #ffffff;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.1);
}

.card-header {
  font-weight: 700;
  margin-top: 0.8rem;
  color: #283c4b;
  text-align: center;
  justify-content: space-between;
}

.team-button-card-false button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3cb371;
  font-size: 5rem;
  height: 100%;
  width: 100%;
}
.team-button-card-false p {
  color: #283c4b;
  font-size: 2.8rem;
  margin-left: 0.6rem;
}

.team-button-card-true {
  height: 9rem;
  width: 18rem;
  background: #ffffff;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0px 2px 11px 1px rgba(0,0,0,0.1);
}


.button-card-input {
  margin: 20px 0 10px 0;
  width: 90%;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  padding: 8px 5px;
  text-align: left;
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
}

.button-card-input:focus {
  box-shadow: 0px 0px 4px 2px lightblue;
  border: 1px solid lightblue;
}

.team-button-card-true button:first-child {
  align-items: center;
  background: #3cb371;
  padding: 2px 13px;
  box-shadow: 0 1px 6px 0px rgba(0,0,0,0.1);
  border-radius: 0.3rem;
  color: #fff;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.team-button-card-true button:last-child {
  align-items: center;
  background: #a6a6a6;
  padding: 2px 13px;
  box-shadow: 0 1px 6px 0px rgba(0,0,0,0.1);
  border-radius: 0.3rem;
  color: #fff;
  border-bottom-color: rgba(0, 0, 0, 0.15);
  margin-left: 0.2rem;
}


.team-button-card-true form {
  display: flex;
  flex-direction: column;
}
