// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todos-index-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.todos-form {
  display: flex;
  flex-direction: column;
  background: white;
  width: 768px;
  height: 80%;
  align-items: center;

  h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #283c46;
  }

  div {
    width: 160px;
    height: 50px;
    background: #3cb371;
    color: white;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 0px 1px rgba(51, 152, 96, 1);
    margin-bottom: 1rem;
    cursor: pointer;
  }

  div:active {
    background: rgba(51, 152, 96, 1);
  }
}

.todo-form-panel {

  form{
    width: 500px;
    margin-bottom: 2rem;
  }

  input {
    margin: 2px 0;
    width: 90%;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    padding: 8px 5px;
    text-align: left;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 400;
  }

  input:focus {
    border: 1px solid #D9F4FB;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}


.todos-index {
  display: flex;
  height: 100%;
  ul{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    background: #f2edff;
    height: 260px;
    width: 200px;
    margin: 0.5rem 0.5rem;
    text-align: center;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    padding-top: 1rem;
  }
}
