// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todos-index-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.todos-form {
  display: flex;
  flex-direction: column;
  background: white;
  width: 768px;
  height: 100%;
  align-items: center;
  position: relative;
  padding-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.1);

  h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #283c46;
    margin-top: 0.5rem;

    i {
      content: "";
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      cursor: pointer;
    }
  }

  div {
    width: 165px;
    min-height: 40px;
    background: #3cb371;
    color: white;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 2px 0px 1px rgba(51, 152, 96, 1);
    margin-bottom: 1rem;
    cursor: pointer;
  }

  div:active {
    background: rgba(51, 152, 96, 1);
  }
}

.todo-form-panel {

  form{
    width: 500px;
    margin-bottom: 2rem;
  }

  input {
    margin: 2px 0;
    width: 92.5%;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    padding: 8px 5px;
    text-align: left;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 400;
  }

  input:focus {
    border: 1px solid #D9F4FB;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  button {
    width: 9.5rem;
    background-color: #1b6ac9;
    border-color: #1b6ac9;
    border-bottom-color: #175aab;
  }

  button:active {
    background: #175aab;
  }
}


.todos-index {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.list-card {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  span {
    margin-left: 0.5rem;
  }
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h4 {
    line-height: 1;
    width: 100%;
    word-wrap: break-word;
  }

  a > li {
    background: #f2edff;
    height: 260px;
    width: 200px;
    margin: 0.5rem 0.5rem;
    text-align: center;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    padding: 1rem;
  }
}
